* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  margin: 0px auto;
}

/*================== common =========================*/

/* =======================header==================== */

.header-top {
  height: 65px;
  background-color: #fff;
}

.logo-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
